.topBar {
    background-color: #77A8E1;
    width: 100%;
    height: 70pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.leftTitle {
    margin-left: 20px;
    font-size: 24pt;
}

.rightTitle {
    margin-right: 20px;
    font-size: 18pt;
}